.planet{
		width:520px;
		height:450px auto;
		margin:0 auto;
		position: relative;
	}
div{
text-align: center;	
padding-top: 10px;
}

	#cell0_0 {
		float:left;
		width:150px; 
		height:150px; 
		border-right:8px solid grey;
		border-bottom:8px solid lightgrey;
	}
	
	#cell0_1 { 
		float:left;width:150px; 
		height:150px; 
		border-right:8px solid grey;
		border-bottom:8px solid lightgrey;
		border-left:8px solid lightgrey;
	}
	
	#cell0_2 { 
		float:left;width:150px; 
		height:150px; 
		border-bottom:8px solid lightgrey;
		border-left:8px solid lightgrey;}
	
	#cell1_0 { float:left; width:150px; 
		height:150px; 
		border-top:8px solid grey;
		border-right:8px solid grey; 
		border-bottom:8px solid lightgrey;}
	
	#cell1_1 {
		float:left;width:150px; 
		height:150px;
		border-top:8px solid grey;
		border-right:8px solid grey; 
		border-bottom:8px solid lightgrey;
		border-left:8px solid lightgrey}
	
	#cell1_2 { 
		float:left;
		width:150px; 
		height:150px; 
		border-top:8px solid grey;
		border-bottom:8px solid lightgrey; 
		border-left:8px solid lightgrey;}
	
	#cell2_0 { 
		float:left;
		width:150px; 
		height:150px; 
		border-top:8px solid grey;
		border-right:8px solid grey;}
	
	#cell2_1 { 
		float:left;width:150px; 
		height:150px;
		border-top:8px solid grey;
		border-right:8px solid grey;
		border-left:8px solid lightgrey} 
	
	#cell2_2 { 
		float:left;width:150px; 
		height:150px;
		border-top:8px solid grey;
		border-left:8px solid lightgrey}


body {
		background: url(http://i1297.photobucket.com/albums/ag38/wrensalert1/clean_zpsd7b467b0.png);
		background-repeat: no-repeat;
		background-size: cover;
}

   #popup_screech_wins{
	width:720px;
	height:650px ;
/*	background: url(http://i1297.photobucket.com/albums/ag38/wrensalert1/screechwins1_zps1a758144.png);
*/	background-size:100%;
	background-repeat: no-repeat;
	opacity:0.95;
	position:absolute;
	top:100px;
	left:-100px;
	display: none;
	}
	

	.cell{clear:both;}
	
	.group1{ 
	 }	
	.group2{ 

	 }
	.group3{ 
	}